<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Time!</title>
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
    <header>Burger Time!!</header>
        {{{ body }}}
    <div class="enter-burger">
        <label for="add-burger"></label>
        <input type="text-area" id="add-burger">
        <button type="submit">Add New Burger</button>
    </div>
</body>
</html>