<div class="not-eaten">
    <h1>Ready to Be Eaten</h1>
    <hr>
    <ol>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-list eaten=false}}
            {{/unless}}
        {{/each}}
    </ol>
</div>
<div class="eaten">
    <h1>Eaten and Enjoyed</h1>
    <hr>
    <ol>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-list eaten=true}}
            {{/if}}
        {{/each}}
    </ol>
</div>